body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F6F8FC;
}

/* Menu de navigation */
.navbar {
  color: black;
  padding: 10px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.navbar  .cont {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.navbar input[type="text"] {
  flex-grow: 1; 
  margin: 0 20px; 
  padding: 8px 15px; 
  border-radius: 8px; 
  border: 1px solid #ccc;  
}

#toggle-sidebar {
  background: none;
  border: none;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 40px; 
  height: 40px; 
  padding: 5px; 
}

.navbar img {
  width: 40px;
  height: 40px;
}







/* Sidebar et recepteur de contenu */
.container {
  display: flex;
  height: calc(100% - 40px);
}

.sidebar {
  width: 200px;
  height: 100%;
  transition: width 0.5s;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

.sidebar.hidden {
  display: none;
}

#create-contact {
  width: 10rem;
  background-color: #C2E7FF;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

#create-contact-1 {
  width: 10rem;
  text-align: left;
  background-color: #C2E7FF;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 10px;
}

#create-contact-2 {
  width: 70%;
  font-weight: 700;
  border: none;
  text-align: left;
  background-color: #F6F8FC;
  padding: 10px;
}

.content {
  flex-grow: 1;
  background-color: white;
  transition: margin-left 0.5s;
  border-radius: 1rem;
  padding: 24px 12px;
  margin-top: 0px;
}

.hiddenSidebar .sidebar {
  width: 0;
}

.hiddenSidebar .content {
  margin-left: 0;
}

.contact-form {
  position: relative; 
  padding-top: 50px; 
}

.save-button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  color: #aaa;
}

.LrbNhc {
  border-radius: 50%;
  height: 162px;
  width: 162px;
}

table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: none; 
  padding: 8px; 
  text-align: left; 
}

td {
  background-color: white; 
}

.libbtn {
  border: none;
  padding: 0.5rem;
  color: #1c48f5;
  background-color: white;
}

.larg {
  width: 20rem;
}

.long {
  border: none;
}

#fonction {
  margin-left: 1.2rem;
}

#nom {
  margin-left: 1.2rem;
}

.length {
  width: 22rem;
  color: #1c48f5;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}

form {
  margin-left: 5%;
}

/* styles.css */
.create-contact-2 {
  width: 70%;
  font-weight: 700;
  border: none;
  padding: 10px;
  text-align: left;
  background-color: #F6F8FC;
}

#popup {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Media queries pour rendre le design responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar input[type="text"] {
    width: 100%;
    margin: 10px 0;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .contact-form {
    padding-top: 20px;
  }

  .larg {
    width: 100%;
  }

  .length {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar input[type="text"] {
    width: 100%;
    margin: 10px 0;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .contact-form {
    padding-top: 20px;
  }

  .larg {
    width: 100%;
  }

  .length {
    width: 100%;
  }
}
