body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F6F8FC;
}

/* Menu de navigation */
.navbar {
  color: black;
  padding: 10px;
  display: flex; /* Utilisez Flexbox pour aligner les éléments */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: space-between; /* Répartit les éléments uniformément */
}

.navbar > .cont {
  display: flex; 
  align-items: center; 
  gap: 10px; /* Espacement entre les éléments dans .cont */
}

.navbar input[type="text"] {
  flex-grow: 1; /* Permet à l'input de prendre tout l'espace disponible */
  margin: 0 20px; 
  padding: 8px 15px; 
  border-radius: 8px; 
  border: 1px solid #ccc; 
}

#toggle-sidebar {
  background: none;
  border: none;
  cursor: pointer;
  display: flex; 
  align-items: center; /* Centre verticalement le SVG */
  justify-content: center; /* Centre horizontalement le SVG */
  width: 40px; 
  height: 40px; 
  padding: 5px; 
}

.navbar img {
  width: 40px;
  height: 40px;
}

/* Sidebar et recepeteur de contenu */
.container {
  display: flex;
  height: calc(100% - 40px);
}
.sidebar {
  width: 200px;
  height: 100%;
  transition: width 0.5s;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  display: flex;
  
}
.sidebar.hidden {
  display: none;
}

#create-contact {/* Pour le boutons de creer du contact*/
  width: 10rem;
  background-color: #C2E7FF;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  
}

#create-contact-1{/* Pour le boutons de contact*/
  width: 10rem;
  text-align: left;
  background-color: #C2E7FF;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  
}



.content {/* Pour recepteur de contenu */
  flex-grow: 1;
  background-color: white;
  transition: margin-left 0.5s;
  border-radius: 1rem;
  margin-top: 0px;
  min-height: 85vh;
  padding: 2rem;

}
.hiddenSidebar .sidebar { /* la sidebar est cachée */
  width: 0;
}
.hiddenSidebar .content { /* le contenu principal prendra toute la largeur disponible lorsque la barre latérale est cachée */
  margin-left: 0;
}

.contact-form {/* pour positionner le bouton en haut */
  position: relative; 
  padding-top: 50px; 
}

.save-button {
  position: absolute; /* Positionnement absolu par rapport au premier parent relatif */
  top: 10px; 
  right: 10px; 
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  color: #aaa;
}

.LrbNhc {
  border-radius: 50%;
  height: 162px;
  width: 162px;
}


table { /* mise en forme tableau */
width: 100%;
border-collapse: collapse; /* Les bordures des cellules sont fusionnées */
}

th, td {
border: none; /* Bordure légère pour chaque cellule */
padding: 8px; 
text-align: left; 
}

td {
background-color: white; /* Couleur de fond pour les en-têtes de tableau */
}


.libbtn{
  border: none;
  padding: 0.5rem;
  color: #1c48f5;
  background-color: white;
}
.larg{
  width:20rem;
}
.long{
  border: none;

}
#fonction{
  margin-left: 1.2rem;
}
#nom{
  margin-left: 1.2rem;
}
.length{
  width: 22rem;
  color: #1c48f5;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}
form{
  margin-left: 5%;
}

/* styles.css */
.create-contact-2 {/* Pour le boutons de frequents*/
  width: 70%;
  font-weight: 700;
  border: none;
  padding: 10px;
  text-align: left;
  background-color: #F6F8FC;
}

#popup {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Fond sombre */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
